// Colores

$negro: #000000ff;
$gris: #7D7D7D;
$blanco: #ffffffff;
$amarillo: #fdd835;
$verde: #1DA0A3;
$verdoso: #243C3D;

// Flex

@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin flex2($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}