@import "../variables/variables.scss";

.contenedorBannerHome {
    @include flex(column, center);
    background-color: $aqua;
    //El height seguro cambia
    height: 85vh;
    img {
        width: 900px;
        margin: 2rem;
    }
    button {
        font-size: 1.8rem;
        text-transform: uppercase;
        background-color: $blanco;
        padding: 1rem 4rem;
        border: 0px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            &:hover {
                cursor:pointer;
                color: $gris;
            }
            &:active {
                cursor:pointer;
                color: $gris;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            }
    }
}