@import "../variables/variables.scss";

.experienciaContenedor{
    margin: 20rem 0rem 0rem;
    padding: 20rem 0rem;
    background-color: $verde-valores;
    .experienciaTitulo {
        font-size: 48px;
        margin: 8rem;
        text-transform: uppercase;
        text-align: center;
    }
    .experienciaLista {
        @include flex(row, center);
        .experienciaDiv {
            @include flex(column, center);
            margin: 1rem 5rem;
            .experienciaImg {
                border-radius: 50%;
                height: 160px;
                width: 160px;
            }
            .experienciaNeuquenImg {
                border-radius: 50%;
                height: 260px;
                width: 260px;
            }
            .experiencia {
                color: $gris;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
            }
        }
    }
}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    .experienciaContenedor{
        margin: 0rem;
        padding: 3rem 0rem;
        .experienciaTitulo {
            font-size: 24px;
            margin: 1rem 0rem 2rem 0rem;
        }
        .experienciaLista {
            @include flex(row, center);
            flex-wrap: wrap;
            .experienciaDiv {
                @include flex(row, center);
                flex-wrap: wrap;
                margin: 1rem 1rem;
                .experienciaImg {
                    border-radius: 0%;
                    height: auto;
                    width: 35vw;
                }
                .experienciaCirculo {
                    width: 27vw;
                }
                .experienciaNeuquenImg {
                    border-radius: 0%;
                    height: auto;
                    width: 40vw;
                }
            }
        }
    }
}