@import "../variables/variables.scss";

footer {
    @include flex(row,space-around);
    background-color: $verdoso;
    padding: 5rem 0rem;
    .footerLogo {
        @include flex(column,center);
        img {width: 600px;}
        p{
            font-size: 1.7rem;
            color: $blanco;
            font-weight: 300;
            margin: 0rem;
        }
    }
    .footerRedes {
        @include flex(column,center);
        font-size: 28px;
        text-transform: uppercase;
        color: $blanco;
        font-weight: 400;
        .footerRedesFlex {
            @include flex(row,center);
            list-style: none;
            margin: 0rem;
            padding: 0rem;
            li {
                font-size: 5rem;
            }
        }
    }
}