@import "../variables/variables.scss";

.formularioContenedor {
    background-image: url("../../assets/fondoFormulario.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0rem;
    .formularioTitulos {
        margin-top: 7rem;
        margin-bottom: 8rem;
        margin-left: 23%;
        h2 {
            font-size: 44px;
            text-transform: uppercase;
            margin: 0rem;
            text-align: left;
            color: $blanco;
        }
        h3 {
            font-size: 36px;
            text-transform: uppercase;
            margin: 2rem 0rem;
            color: $blanco;
        }
    }
    .formulario {
        form {
            @include flex(column, center);
            .formularioFlexRow {
                @include flex(row, center);
                flex-wrap: wrap;
                .formularioDatos {
                    @include flex(column, center);
                    .formularioInputs {
                        @include flex(row, center);
                        background-color: $blanco;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border-radius: 10px;
                        width: 502px;
                        height: 55px;
                        padding-left: 2rem;
                        margin: 2rem;
                        .icono{
                            color: $negro;
                            font-size: 3rem;
                        }
                        input {
                            font-family: 'Gotham', sans-serif;
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: $negro;
                            width: 500px;
                            height: 50px;
                            margin: 2rem;
                            border: 0rem;
                        }
                        input:focus {
                            outline: 0rem;
                        }
                        input::placeholder {
                            font-family: 'Gotham', sans-serif;
                            color: $negro;
                            font-size: 1.7rem;
                        }
                    }
                }
                .formularioConsulta {
                    .formularioTextarea {
                        @include flex2(row, flex-start, flex-start);
                        background-color: $blanco;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border-radius: 10px;
                        width: 502px;
                        height: 340px;
                        padding-left: 2rem;
                        margin: 2rem;
                        textarea {
                            font-family: 'Gotham', sans-serif;
                            font-weight: 500;
                            color: $negro;
                            font-size: 1.7rem;
                            width: 500px;
                            height: 300px;
                            border: 0rem;
                            padding: 2rem 1.5rem;
                        }
                        textarea:focus {
                            outline: 0rem;
                        }
                        .icono{
                            color: $negro;
                            font-size: 3rem;
                            padding-top: 1.5rem;
                        }
                    }
                }
            }
            .formularioBoton {
                button {
                    font-size: 2rem;
                    text-transform: uppercase;
                    background-color: $verde;
                    letter-spacing: 2px;
                    color: $blanco;
                    margin: 8rem 0rem;
                    padding: 1.8rem 12rem;
                    border: 0px;
                    border-radius: 48px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        &:hover {
                            cursor:pointer;
                            color: $blanco;
                        }
                        &:active {
                            cursor:pointer;
                            color: $blanco;
                            box-shadow: rgba(58, 58, 58, 0.15) 3px 3px 16px 0px inset, rgba(54, 54, 54, 0.15) -3px -3px 16px 1px inset;
                        }
                }
            }    
        }
    }
}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    .formularioContenedor {
        background-size: cover;
        background-position: center;
        width: 100vw;
        padding: 2rem 0rem 4rem 0rem;
        .formularioTitulos {
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            h2 {
                font-size: 22px;
            }
            h3 {
                font-size: 16px;
            }
        }
        .formulario {
            form {
                .formularioFlexRow {
                    @include flex(column, center);
                    .formularioDatos {
                        .formularioInputs {
                            @include flex(row, center);
                            border-radius: 4px;
                            width: 85vw;
                            margin: 1rem;
                            .icono{
                                color: $negro;
                                font-size: 2.7rem;
                            }
                            input {
                                margin: 1rem;
                            }
                            input::placeholder {
                                color: $gris;
                                font-size: 14px;
                            }
                        }
                    }
                    .formularioConsulta {
                        .formularioTextarea {
                            border-radius: 10px;
                            width: 85vw;
                            height: 240px;
                            padding-left: 2rem;
                            margin: 2rem;
                            textarea {
                                font-size: 14px;
                                width: 250px;
                                height: 200px;
                            }
                            .icono{
                                font-size: 2.7rem;
                            }
                        }
                    }
                }
                .formularioBoton {
                    button {
                        font-size: 14px;
                        margin: 2rem 0rem;
                        padding: 1rem 4rem;
                        border: 0px;
                        border-radius: 48px;
                    }
                }    
            }
        }
    }
}

/* VERSIÓN MEDIA */
@media only screen and (min-width: 601px) and (max-width: 1300px) {
    .formularioContenedor {
        .formularioTitulos {
            margin-top: 7rem;
            margin-bottom: 8rem;
            text-align: center;
            margin-left: 0rem;
            h2 {
               text-align: center; 
            }
        }
    }
}
