@import "../variables/variables.scss";

.fraseContenedor {
    background-image: url("../../assets/fondoFrase.png");
    background-repeat: no-repeat;
    background-position:center;
    width: 99wv;
    height: 400px;
    @include flex(column, center);
    margin: 2rem;
    h3{
        font-size: 4.5rem;
        color: $gris;
        font-weight: 500;
        font-style: italic;
    }
}