@import "../variables/variables.scss";

.fraseContenedor {
    background-image: url("../../assets/fondoFrase.png");
    background-repeat: repeat;
    background-position:center;
    background-size: cover;
    @include flex(row, center);
    height: 422px;
    margin: 20rem 0rem 0rem 0rem;
    img{
        width: 167px;
        padding: 2rem;
    }
    h3{
        font-size: 36px;
        color: $blanco;
        font-weight: 600;
    }
}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    .fraseContenedor {
        @include flex(column, center);
        background-size: cover;
        height: 184px;
        margin: 4rem 0rem 0rem 0rem;
        img{
            width: 52px;
            padding: 2rem;
        }
        .comilla1 {
            align-self: flex-start;
        }
        .comilla2 {
            align-self: flex-end;
        }
        h3{
            font-size: 24px;
            margin: 0rem 1rem;
            text-align: center;
        }
    }
}