@import "../variables/variables.scss";

.misionVisionContenedor {
    @include flex(row, center);
            .cards {
                @include flex2(column, flex-start, flex-start);
                box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                width: 460px;
                height: auto;
                margin: 5rem;
                img {
                    width: 460px;
                    height: 250px;
                    margin: 0rem;
                }
                .mVTitulo {
                    margin: 3rem 3rem;
                    font-size: 36px;
                    text-transform: uppercase;
                }
                .mVTexto {
                    width: 70%;
                    line-height: 30px;
                    margin: 0rem 3rem 4rem 3rem;
                    font-size: 18px;
                }
            }      
}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    .misionVisionContenedor {
        @include flex(column, center);
                .cards {
                    @include flex2(row, flex-start, flex-start);
                    width: 95vw;
                    height: 170px;
                    margin: 2rem;
                    img {
                        width: 40vw;
                        height: 170px;
                        margin: 0rem;
                    }
                    .mVTitulo {
                        margin: .5rem 0rem .5rem 1rem;
                        font-size: 22px;
                    }
                    .mVTexto {
                        width: 90%;
                        line-height: 22px;
                        margin: 0rem;
                        padding-left: 1rem;
                        font-size: 14px;
                    }
                }      
    }
}