@import "../variables/variables.scss";

.misionVisionContenedor {
    @include flex(row, center);
            .cards {
                @include flex2(column, flex-start, flex-start);
                box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
                width: 460px;
                height: auto;
                margin: 5rem;
                img {
                    width: 460px;
                    height: 250px;
                    margin: 0rem;
                }
                .mVTitulo {
                    margin: 3rem 3rem;
                    font-size: 36px;
                    text-transform: uppercase;
                }
                .mVTexto {
                    width: 70%;
                    line-height: 30px;
                    margin: 0rem 3rem 4rem 3rem;
                    font-size: 18px;
                }
            }      
}