@import "../variables/variables.scss";

.misionVisionContenedor {
    @include flex(row, center);
            .cards {
                @include flex(column, center);
                width: 500px;
                height: 400px;
                .mVTitulo {
                    margin: .5rem 9rem;
                    font-size: 4rem;
                    text-transform: uppercase;
                }
                .mVTexto {
                    width: 50%;
                    margin: 0rem 9rem;
                    font-size: 3rem;
                }
            }
            .mVImgContenedor {
                width: 49vw;
                height: 400px;
                img {
                    width: 49vw;
                    height: 400px;
                    margin: 0rem;
                }
            }
}