@import "../variables/variables.scss";

header {
    background-image: url("../../assets/fondoBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .navegador {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        @include flex(row,space-around);
        padding: 1rem 0rem;
        .contenedorLogo {
            img {width: 290px;}
        }
        .contenedorMenu {
            ul {
                @include flex(row,center);
                list-style: none;
                li {
                    color: $blanco;
                    font-size: 18px;
                    padding: 2rem 4rem;
                    text-align: center;
                }
                a{
                    text-decoration: none;
                    color: $blanco;
                    &:hover{
                        color:$blanco;
                        cursor:pointer;
                    }
                }
            }
        }
    }
    .active {
        background-color: $verde-transparente;
    }
    .contenedorBannerHome {
        @include flex(column, flex-start);
        height: 120vh;
        img {
            width: 50vw;
            margin-top: 30rem;
            margin-bottom: 3rem;
        }
        button {
            font-size: 2rem;
            text-transform: uppercase;
            background-color: $verde;
            letter-spacing: 5px;
            color: $blanco;
            margin: 0rem;
            padding: 2rem 8rem;
            border: 0px;
            border-radius: 48px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                &:hover {
                    cursor:pointer;
                    color: $blanco;
                    background-color: $verde;
                    cursor:pointer;
                    opacity: 0.7;
                    transition:all 0.5s ease;
                }
                &:active {
                    cursor:pointer;
                    color: $blanco;
                    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 16px 0px inset, rgba(0, 0, 0, 0.15) -3px -3px 16px 1px inset, rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
        }
    }

}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    header {
        background-image: url("../../assets/fondoBanner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        .navegador {
            display:none;
        }
        .contenedorBannerHome{
            img {
                width: 90vw;
                margin-top: 9rem;
            }
            button {
                font-size: 14px;
                letter-spacing: 1px;
                margin: 0rem;
                padding: 1rem 3.5rem;
                border: 0px;
                border-radius: 48px;
            }
        }
    
    }
}

/* VERSIÓN MEDIA */
@media only screen and (min-width: 601px) and (max-width: 1300px) {
    header {
        .navegador {
            .contenedorLogo {
                img {width: 250px;}
            }
            .contenedorMenu {
                ul {
                    li {
                        font-size: 18px;
                        padding: 2rem 2rem;
                    }
                }
            }
        }
        .contenedorBannerHome {
            img {
                width: 50vw;
                margin-top: 23rem;
                margin-bottom: 3rem;
            }
        }
    
    }
}