@import "../variables/variables.scss";

.propositoContenedor {
    padding: 20rem 0rem;
    .proposito {
        @include flex(row,center);
        img {width: 460px;}
        .propositoTextos {
            @include flex2(column, flex-start, center);
            width: 520px;
            margin: 5rem;
            h2 {
                font-size: 44px;
                text-transform: uppercase;
                align-self: flex-start;
                margin: 1rem 0rem 4rem 0rem;
            }
            p {
                font-size: 18px;
                margin: .5rem 0rem;
                line-height: 3rem;
            }
        }
    }
}

/* VERSIÓN MÓVIL */
@media only screen and (max-width: 600px) {
    
.propositoContenedor {
    padding:0rem;
    .proposito {
        img {display: none}
        .propositoTextos {
            @include flex2(column, flex-start, center);
            width: auto;
            margin: 2rem;
            h2 {
                font-size: 24px;
                align-self: center;
                margin: 0rem 0rem 2rem 0rem;
            }
            p {
                font-size: 14px;
                margin: .5rem 0rem;
                line-height: 2rem;
            }
        }
    }
}
}