@import "../variables/variables.scss";

.propositoContenedor {
    padding: 20rem 0rem;
    .propositoTitulo {
        @include flex(column,center);
        h2 {
            font-size: 4.5rem;
            text-transform: uppercase;
            align-self: center;
            margin: 1rem 0rem;
        }
    }
    .proposito {
        @include flex(row,center);
        img {width: 500px;}
        .propositoTextos {
            @include flex(column,center);
            width: 500px;
            margin: 5rem;
            p {
                font-size: 2.5rem;
                margin: 2rem 0rem;
                line-height: 3rem;
            }
        }
    }
}