@import "../variables/variables.scss";

.valoresContenedor{
    margin: 20rem 0rem;
    .valoresTitulo {
        font-size: 48px;
        margin: 8rem;
        text-transform: uppercase;
        text-align: center;
    }
    .valoresLista {
        @include flex(row, center);
        .valoresDiv {
            @include flex(column, center);
            margin: 1rem 5rem;
            .valoresImg {
                border-radius: 50%;
                height: 160px;
                width: 160px;
            }
            .valores {
                color: $gris;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
            }
        }
    }
}
